.cus- {
    background-image: url(icons/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: -2px;
    margin-right: 6px;
    float:left;
}

.cus--top111 {
    width: 21px;
    height: 21px;
    background-position: -5px -5px;
}

.cus--icon10 {
    width: 20px;
    height: 20px;
    background-position: -36px -5px;
}

.cus--icon12 {
    width: 26px;
    height: 26px;
    background-position: -66px -5px;
}

.cus--icon13 {
    width: 27px;
    height: 27px;
    background-position: -102px -5px;
}

.cus--icon2 {
    width: 21px;
    height: 21px;
    background-position: -139px -5px;
}

.cus--icon21 {
    width: 18px;
    height: 18px;
    margin-top: 3px;
    background-position: -170px -5px;
}

.cus--icon4 {
    width: 26px;
    height: 26px;
    background-position: -198px -5px;
}

.cus--icon5 {
    width: 21px;
    height: 21px;
    background-position: -234px -5px;
    
}

.cus--icon6 {
    width: 17px;
    height: 17px;
    background-position: -265px -5px;
}

.cus--icon9 {
    width: 26px;
    height: 26px;
    background-position: -292px -5px;
}

.cus--top10 {
    width: 19px;
    height: 19px;
    background-position: -328px -5px;
}

.cus--top11 {
    width: 21px;
    height: 21px;
    background-position: -357px -5px;
}
