<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qt.sales.dao.OrderBeanMapper" >
  <resultMap id="BaseResultMap" type="com.qt.sales.model.OrderBean" >
    <id column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="OUT_PARKING_ID" property="outParkingId" jdbcType="VARCHAR" />
    <result column="PARKING_NAME" property="parkingName" jdbcType="VARCHAR" />
    <result column="CAR_NUMBER" property="carNumber" jdbcType="VARCHAR" />
    <result column="OUT_ORDER_NO" property="outOrderNo" jdbcType="VARCHAR" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
    <result column="ORDER_TIME" property="orderTime" jdbcType="VARCHAR" />
    <result column="PAY_TIME" property="payTime" jdbcType="VARCHAR" />
    <result column="PAY_TYPE" property="payType" jdbcType="VARCHAR" />
    <result column="PAY_MONEY" property="payMoney" jdbcType="DECIMAL" />
    <result column="IN_TIME" property="inTime" jdbcType="VARCHAR" />
    <result column="PARKING_ID" property="parkingId" jdbcType="VARCHAR" />
    <result column="IN_DURATION" property="inDuration" jdbcType="VARCHAR" />
    <result column="CARD_NUMBER" property="cardNumber" jdbcType="VARCHAR" />
    <result column="DISCOUNT_MONEY" property="discountMoney" jdbcType="DECIMAL" />
    <result column="PAID_MONEY" property="paidMoney" jdbcType="DECIMAL" />
    <result column="SELLER_ID" property="sellerId" jdbcType="VARCHAR" />
    <result column="OUT_TIME" property="outTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_SYN_STATUS" property="orderSynStatus" jdbcType="VARCHAR" />
    <result column="ORDER_PAY_STATUS" property="orderPayStatus" jdbcType="VARCHAR" />
    <result column="car_id" property="carId" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="car_color" property="carColor" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_NO, USER_ID, OUT_PARKING_ID, PARKING_NAME, CAR_NUMBER, OUT_ORDER_NO, ORDER_STATUS, 
    ORDER_TIME, PAY_TIME, PAY_TYPE, PAY_MONEY, IN_TIME, PARKING_ID, IN_DURATION, CARD_NUMBER, 
    DISCOUNT_MONEY, PAID_MONEY, SELLER_ID, OUT_TIME, ORDER_SYN_STATUS, ORDER_PAY_STATUS,car_id,car_type,car_color
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qt.sales.model.OrderBeanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from park.TB_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from park.TB_ORDER
    where out_order_no = #{outOrderNo,jdbcType=VARCHAR}
  </select>
  
    <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from park.TB_ORDER
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from park.TB_ORDER
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qt.sales.model.OrderBeanExample" >
    delete from park.TB_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qt.sales.model.OrderBean" >
    insert into park.TB_ORDER (ORDER_NO, USER_ID, OUT_PARKING_ID, 
      PARKING_NAME, CAR_NUMBER, OUT_ORDER_NO, 
      ORDER_STATUS, ORDER_TIME, PAY_TIME, 
      PAY_TYPE, PAY_MONEY, IN_TIME, 
      PARKING_ID, IN_DURATION, CARD_NUMBER, 
      DISCOUNT_MONEY, PAID_MONEY, SELLER_ID, 
      OUT_TIME, ORDER_SYN_STATUS, ORDER_PAY_STATUS,car_type, car_color
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{outParkingId,jdbcType=VARCHAR}, 
      #{parkingName,jdbcType=VARCHAR}, #{carNumber,jdbcType=VARCHAR}, #{outOrderNo,jdbcType=VARCHAR}, 
      #{orderStatus,jdbcType=VARCHAR}, #{orderTime,jdbcType=VARCHAR}, #{payTime,jdbcType=VARCHAR}, 
      #{payType,jdbcType=VARCHAR}, #{payMoney,jdbcType=DECIMAL}, #{inTime,jdbcType=VARCHAR}, 
      #{parkingId,jdbcType=VARCHAR}, #{inDuration,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, 
      #{discountMoney,jdbcType=DECIMAL}, #{paidMoney,jdbcType=DECIMAL}, #{sellerId,jdbcType=VARCHAR}, 
      #{outTime,jdbcType=TIMESTAMP}, #{orderSynStatus,jdbcType=VARCHAR}, #{orderPayStatus,jdbcType=VARCHAR},
      #{carType,jdbcType=VARCHAR},#{carColor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qt.sales.model.OrderBean" >
    insert into park.TB_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="outParkingId != null" >
        OUT_PARKING_ID,
      </if>
      <if test="parkingName != null" >
        PARKING_NAME,
      </if>
      <if test="carNumber != null" >
        CAR_NUMBER,
      </if>
      <if test="outOrderNo != null" >
        OUT_ORDER_NO,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="orderTime != null" >
        ORDER_TIME,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="payType != null" >
        PAY_TYPE,
      </if>
      <if test="payMoney != null" >
        PAY_MONEY,
      </if>
      <if test="inTime != null" >
        IN_TIME,
      </if>
      <if test="parkingId != null" >
        PARKING_ID,
      </if>
      <if test="inDuration != null" >
        IN_DURATION,
      </if>
      <if test="cardNumber != null" >
        CARD_NUMBER,
      </if>
      <if test="discountMoney != null" >
        DISCOUNT_MONEY,
      </if>
      <if test="paidMoney != null" >
        PAID_MONEY,
      </if>
      <if test="sellerId != null" >
        SELLER_ID,
      </if>
      <if test="outTime != null" >
        OUT_TIME,
      </if>
      <if test="orderSynStatus != null" >
        ORDER_SYN_STATUS,
      </if>
      <if test="orderPayStatus != null" >
        ORDER_PAY_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="outParkingId != null" >
        #{outParkingId,jdbcType=VARCHAR},
      </if>
      <if test="parkingName != null" >
        #{parkingName,jdbcType=VARCHAR},
      </if>
      <if test="carNumber != null" >
        #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="outOrderNo != null" >
        #{outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null" >
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=VARCHAR},
      </if>
      <if test="parkingId != null" >
        #{parkingId,jdbcType=VARCHAR},
      </if>
      <if test="inDuration != null" >
        #{inDuration,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="discountMoney != null" >
        #{discountMoney,jdbcType=DECIMAL},
      </if>
      <if test="paidMoney != null" >
        #{paidMoney,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="outTime != null" >
        #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSynStatus != null" >
        #{orderSynStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderPayStatus != null" >
        #{orderPayStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qt.sales.model.OrderBeanExample" resultType="java.lang.Integer" >
    select count(*) from park.TB_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update park.TB_ORDER
    <set >
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.outParkingId != null" >
        OUT_PARKING_ID = #{record.outParkingId,jdbcType=VARCHAR},
      </if>
      <if test="record.parkingName != null" >
        PARKING_NAME = #{record.parkingName,jdbcType=VARCHAR},
      </if>
      <if test="record.carNumber != null" >
        CAR_NUMBER = #{record.carNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.outOrderNo != null" >
        OUT_ORDER_NO = #{record.outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null" >
        ORDER_STATUS = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.orderTime != null" >
        ORDER_TIME = #{record.orderTime,jdbcType=VARCHAR},
      </if>
      <if test="record.payTime != null" >
        PAY_TIME = #{record.payTime,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null" >
        PAY_TYPE = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.payMoney != null" >
        PAY_MONEY = #{record.payMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.inTime != null" >
        IN_TIME = #{record.inTime,jdbcType=VARCHAR},
      </if>
      <if test="record.parkingId != null" >
        PARKING_ID = #{record.parkingId,jdbcType=VARCHAR},
      </if>
      <if test="record.inDuration != null" >
        IN_DURATION = #{record.inDuration,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNumber != null" >
        CARD_NUMBER = #{record.cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.discountMoney != null" >
        DISCOUNT_MONEY = #{record.discountMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.paidMoney != null" >
        PAID_MONEY = #{record.paidMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.sellerId != null" >
        SELLER_ID = #{record.sellerId,jdbcType=VARCHAR},
      </if>
      <if test="record.outTime != null" >
        OUT_TIME = #{record.outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderSynStatus != null" >
        ORDER_SYN_STATUS = #{record.orderSynStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.orderPayStatus != null" >
        ORDER_PAY_STATUS = #{record.orderPayStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update park.TB_ORDER
    set ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      OUT_PARKING_ID = #{record.outParkingId,jdbcType=VARCHAR},
      PARKING_NAME = #{record.parkingName,jdbcType=VARCHAR},
      CAR_NUMBER = #{record.carNumber,jdbcType=VARCHAR},
      OUT_ORDER_NO = #{record.outOrderNo,jdbcType=VARCHAR},
      ORDER_STATUS = #{record.orderStatus,jdbcType=VARCHAR},
      ORDER_TIME = #{record.orderTime,jdbcType=VARCHAR},
      PAY_TIME = #{record.payTime,jdbcType=VARCHAR},
      PAY_TYPE = #{record.payType,jdbcType=VARCHAR},
      PAY_MONEY = #{record.payMoney,jdbcType=DECIMAL},
      IN_TIME = #{record.inTime,jdbcType=VARCHAR},
      PARKING_ID = #{record.parkingId,jdbcType=VARCHAR},
      IN_DURATION = #{record.inDuration,jdbcType=VARCHAR},
      CARD_NUMBER = #{record.cardNumber,jdbcType=VARCHAR},
      DISCOUNT_MONEY = #{record.discountMoney,jdbcType=DECIMAL},
      PAID_MONEY = #{record.paidMoney,jdbcType=DECIMAL},
      SELLER_ID = #{record.sellerId,jdbcType=VARCHAR},
      OUT_TIME = #{record.outTime,jdbcType=TIMESTAMP},
      ORDER_SYN_STATUS = #{record.orderSynStatus,jdbcType=VARCHAR},
      ORDER_PAY_STATUS = #{record.orderPayStatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qt.sales.model.OrderBean" >
    update park.TB_ORDER
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="outParkingId != null" >
        OUT_PARKING_ID = #{outParkingId,jdbcType=VARCHAR},
      </if>
      <if test="parkingName != null" >
        PARKING_NAME = #{parkingName,jdbcType=VARCHAR},
      </if>
      <if test="carNumber != null" >
        CAR_NUMBER = #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="outOrderNo != null" >
        OUT_ORDER_NO = #{outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        ORDER_TIME = #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        PAY_TYPE = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null" >
        PAY_MONEY = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="inTime != null" >
        IN_TIME = #{inTime,jdbcType=VARCHAR},
      </if>
      <if test="parkingId != null" >
        PARKING_ID = #{parkingId,jdbcType=VARCHAR},
      </if>
      <if test="inDuration != null" >
        IN_DURATION = #{inDuration,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="discountMoney != null" >
        DISCOUNT_MONEY = #{discountMoney,jdbcType=DECIMAL},
      </if>
      <if test="paidMoney != null" >
        PAID_MONEY = #{paidMoney,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null" >
        SELLER_ID = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="outTime != null" >
        OUT_TIME = #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSynStatus != null" >
        ORDER_SYN_STATUS = #{orderSynStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderPayStatus != null" >
        ORDER_PAY_STATUS = #{orderPayStatus,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=VARCHAR},
      </if>
      
    </set>
    where out_order_no = #{outOrderNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qt.sales.model.OrderBean" >
    update park.TB_ORDER
    set USER_ID = #{userId,jdbcType=VARCHAR},
      OUT_PARKING_ID = #{outParkingId,jdbcType=VARCHAR},
      PARKING_NAME = #{parkingName,jdbcType=VARCHAR},
      CAR_NUMBER = #{carNumber,jdbcType=VARCHAR},
      OUT_ORDER_NO = #{outOrderNo,jdbcType=VARCHAR},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      ORDER_TIME = #{orderTime,jdbcType=VARCHAR},
      PAY_TIME = #{payTime,jdbcType=VARCHAR},
      PAY_TYPE = #{payType,jdbcType=VARCHAR},
      PAY_MONEY = #{payMoney,jdbcType=DECIMAL},
      IN_TIME = #{inTime,jdbcType=VARCHAR},
      PARKING_ID = #{parkingId,jdbcType=VARCHAR},
      IN_DURATION = #{inDuration,jdbcType=VARCHAR},
      CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      DISCOUNT_MONEY = #{discountMoney,jdbcType=DECIMAL},
      PAID_MONEY = #{paidMoney,jdbcType=DECIMAL},
      SELLER_ID = #{sellerId,jdbcType=VARCHAR},
      OUT_TIME = #{outTime,jdbcType=TIMESTAMP},
      ORDER_SYN_STATUS = #{orderSynStatus,jdbcType=VARCHAR},
      ORDER_PAY_STATUS = #{orderPayStatus,jdbcType=VARCHAR}
    where out_order_no = #{outOrderNo,jdbcType=VARCHAR}
  </update>
  
  <select id="queryPaidMoneyWithOrderNo" parameterType="string" resultType="string">
  	select nvl(sum(p.pay_money),0) from park.TB_ORDER_pay p where  p.out_order_no = #{outOrderNo,jdbcType=VARCHAR}
  </select>
  
  
</mapper>